@font-face {
	font-family: 'Exo';
	src: url("../font/Exo2.0-Thin.otf");
}

* {
	box-sizing: border-box;
	outline: none;
}
html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #f3f3f3;
	color: #323232;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}
.bg {
	width: 100%;
	height: 100%;
	display: flex;
   justify-content: center;
   align-items: center;
	background-image: url("../img/bg.png");
	background-size: cover;
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
	}
}
.container {
	max-width: 1120px;
}
.title {
	padding-top: 50px;
	margin-bottom: 35px;
	font-family: 'Exo';
	color: #ffffff;
	font-size: 36px;
	font-weight: 400;
	text-shadow: 0 1px 0 #000000;
}
.col-auto {
	position: relative;
	padding: 0;
	margin-right: 80px;
	z-index: 0;
	&:last-child {
		margin-right: 0;
	}
}
.cat {
	&-border {
    	position: relative;
		width: 320px;
    	height: 480px;
      background: linear-gradient(135deg, #e0171700 20px, white 20px);
    	border-radius: 10px;
    	cursor: pointer;
    	&:before {
    		content: '';
    		position: absolute;
    		background-color: inherit;
    		background: linear-gradient(135deg, transparent 22px, #1698d9 22px);
    		left: -5px;
    		right: -5px;
    		top: -5px;
    		bottom: -5px;
    		z-index: -1;
    		border-radius: 14px;
    	}
    	&:hover .cat-circule {
    		background-color: #2ea8e6;
    	}
    	&:hover:before {
    		background: linear-gradient(135deg, transparent 22px, #2ea8e6 22px);
    	}
	}
	&-p {
		margin-top: 15px;
		text-shadow: 0 1px 0 #000000;
		font-size: 13px;
		line-height: 16px;
		&_buy {
			display: block;
			color: #ffffff;
			&-btn {
				color: #1698d9;
				font-weight: 700;
				text-decoration: none;
	    		border-bottom: 1px dashed #1698d9;
				&:hover {
					cursor: pointer;
				}
			}
			span {
				color: #1698d9;
			}
		}
		&_selected {
			display: none;
			color: #ffffff;
		}
		&_disabled {
			display: none;
			color: #ffff66;
		}
	}
	&-pic {
		position: absolute;
		bottom: -3px;
	}
	&-header {
		position: absolute;
    	margin-left: 50px;
		top: 4%;
		text-align: left;
		&_1 {
			display: block;
			margin-bottom: 15px;
			color: #666666;
			font-size: 16px;
			font-weight: 400;
			&-selected {
				display: none;
			}
		}
		&_2 {
			margin-bottom: 5px;
			color: #000000;
			font-size: 48px;
			font-weight: 700;
		}
		&_3 {
			margin-bottom: 15px;
			color: #000000;
			font-size: 24px;
			font-weight: 700;
		}
		&_4 {
			color: #666666;
			font-size: 14px;
			font-weight: 400;
			line-height: 16px;
			span {
				font-weight: 700;
			}
		}
	}
	&-circule {
    	width: 81px;
    	height: 81px;
		position: absolute;
    	right: 15px;
    	bottom: 15px;
    	background-color: #1698d9;
    	border-radius: 50%;
    	color: #fff;
    	&_number {
    		position: relative;
    		top: 20px;
    		line-height: 22px;
    		span {
    			font-size: 42px;
    		}
    		div {
    			font-size: 21px;
    		}
    	}
	}
}
.disabled {
	.cat-border {
    	cursor: default;
	}
	.cat-border:before {
		background: linear-gradient(135deg, transparent 22px, #b3b3b3 22px);
	}
	.cat-header {
		p {
			color: #b3b3b3;
		}
	}
	.cat-pic {
		opacity: 0.5;
	}
	.cat-circule {
		background-color: #b3b3b3 !important;
	}
	.cat-p_disabled {
		display: block;
	}
	.cat-p_buy {
		display: none;
	}
}
.selected {
	.cat-border:before {
		background: linear-gradient(135deg, transparent 22px, #d91667 22px); 
	}
	.cat-border:hover:before {
		background: linear-gradient(135deg, transparent 22px, #e62e7a 22px);
	}
	.cat-border:hover .cat-circule{
		background-color: #e62e7a !important;
	}
	.cat-circule {
		background-color: #d91667 !important;
	}
	.cat-p_buy {
		display: none;
	}
	.cat-p_selected {
		display: block;
	}
	.cat-header_1-selected {
		display: none;
		color: #e62e7a;
	}
	.cat-border:hover .cat-header_1.cat-header_1-selected {
		display: block;
	}
	.cat-border:hover .cat-header_1 {
		display: none;
	}
}
@media (max-width: 1160px) {
	body {
		height: auto;
	}
	.container {
    	max-width: 960px;
	}
	.cat {
		justify-content: center;
	}
	.col-auto {
		margin-bottom: 35px;
		&:nth-child(2) {
			margin-right: 0;
		}
	}
}
@media (max-width: 800px) {
	.container {
    	max-width: 600px;
	}
	.col-auto:first-child {
		margin-right: 0;
	}
}
@media (max-width: 370px) {
	.cat-border {
    	width: 300px;
	}
}